.footer {
    background: var(--surface);
    margin-top: auto;
    padding: 1rem;
    border-top: 1px solid var(--border-color);
    display: flex;
}

.logotipo {
    width: clamp(180px, 25vw, 200px);
}